/* Small css customizations */

#main-title {
    margin-bottom: 0px;
}

#subtitle {
    margin-top: 0px;
}

#header-description {
    text-align: justify;
}

#map-tabs {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 0;
    margin-left: 10px;
}

#map-container {
    margin-top: 0;
}

.center-content {
    justify-content: center;
}

.text-container {
    max-width: 1000px;
}

.item-column {
    height: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 40px;
    padding-left: 40px;
}

.pretty_container {
	background-color: #fff;
}

button, .button {
    margin: 10px;
}